{% load static %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/form.js' %}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    function generateId() {
      const now = new Date();

      // Get individual components of the current time
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, '0');
      const day = String(now.getDate()).padStart(2, '0');
      const hours = String(now.getHours()).padStart(2, '0');
      const minutes = String(now.getMinutes()).padStart(2, '0');
      const seconds = String(now.getSeconds()).padStart(2, '0');
      const milliseconds = String(now.getMilliseconds()).padStart(3, '0');

      // Combine them into the desired format
      return `${year}${month}${day}${hours}${minutes}${seconds}${milliseconds}`;
    }

    var requestId = generateId();
    $(document).ready(function () {
      // Initially show the "Configure Simulation" section
      $("#configureSimulation").collapse("show");

      // Set up click handler for collapsing/expanding sections
      $(".collapse").on('show.bs.collapse', function () {
        $(".collapse").not(this).collapse('hide');
      });

      $(".collapse").on('show.bs.collapse hide.bs.collapse', function () {
        var targetHeader = $(this).prev('.card-header');
        targetHeader.find('.symbol').text($(this).hasClass('show') ? '▼' : '▶');
      });

      

      // Handle file upload for pulse generator
      $("#imageUploadPanel1").change(function () {
        var formData = new FormData();
        var filePanel1 = $("#imageUploadPanel1")[0].files[0];
        if (filePanel1) formData.append("file1", filePanel1);

        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        formData.append("requestId", requestId);
        formData.append("circuitType", "PulseGenerator");

        $.ajax({
          url: "/generate_schematic_image/",  // Endpoint for your image generation logic
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            if (response.status === 'success' && response.image) {
              // Log the Base64 image data to the console for debugging
              console.log("Base64 Image Data: ", response.image);

              // Ensure there is no unwanted prefix or extra characters in the Base64 string
              const base64Image = response.image.trim(); // Remove extra whitespace

              // Alert to check if the image data is correct
              // alert("Received Image Data: " + base64Image);  // This is for debugging, you can remove it later

              // Set the image source to the Base64 data and show the container
              $('#pulseGeneratorImage').attr('src', `data:image/png;base64,${base64Image}`);
              $('#pulseGeneratorImageContainer').show();  // Display the image container
            } else {
              alert('Error: No image generated.');
            }
          },
          error: function () {
            console.log("Error uploading files.");
          }
        });

      })

      $("#imageUploadPanel2").change(function () {
        var formData = new FormData();
        var filePanel2 = $("#imageUploadPanel2")[0].files[0];
        if (filePanel2) formData.append("file1", filePanel2);

        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        formData.append("requestId", requestId);
        formData.append("circuitType", "DUT");

        $.ajax({
          url: "/generate_schematic_image/",  // Endpoint for your image generation logic
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            if (response.status === 'success' && response.image) {
              // Ensure there is no unwanted prefix or extra characters in the Base64 string
              const base64Image = response.image.trim(); // Remove extra whitespace
              // Set the image source to the Base64 data and show the container
              $('#dutCircuitImage').attr('src', `data:image/png;base64,${base64Image}`);
              $('#dutCircuitImageContainer').show();  // Display the image container
            } else {
              alert('Error: No image generated.');
            }
          },
          error: function () {
            console.log("Error uploading files.");
          }
        });


        //TODO: backend API incomplete, needed response.nodes = list of all the nodes in the circuit, response.complete_node_data = complete node data (dummy data for now)
       $.ajax({
         url: "/get_node_details/",  
         type: "POST",
         data: formData,
         processData: false,
         contentType: false,
         success: function (response) {
           if (response.status === 'success') {
             //update the data[pulse params][port1, port2] with the nodes
             console.log(response.nodes);
             console.log(response.complete_node_data);

             comp_node_data = response.complete_node_data;
             nodes_list = response.nodes;
             data["PulseParams"]["Port 1"] = nodes_list;
             data["PulseParams"]["Port 2"] = nodes_list;


           } else {
             alert('Error: nodes data not generated.');
           }
         },
       });

      })
    });

   

    let data = {
      "PulseParams": {
        "Port 1": [], 

        "Port 2": [], 

        "Port 3": ["Gnd"],

        "ISO1 12V": [
          { "name": "Ua", "value": "13.5" },
          { "name": "Us", "value": "-150" },
          { "name": "Ri", "value": "10" },
          { "name": "td", "value": "2m" },
          { "name": "tr(s)", "value": "1u" },
          { "name": "t1(s)", "value": "0.5" },
          { "name": "t2(s)", "value": "200m" },
          { "name": "t3(s)", "value": "50u" },
          { "name": "t(0)", "value": "1m" },
          { "name": "Ext res.", "value": "10" }
        ],
        "ISO1 24V": [
          { "name": "Ua", "value": "27" },
          { "name": "Us", "value": "-600" },
          { "name": "Ri", "value": "50" },
          { "name": "td", "value": "1m" },
          { "name": "tr(s)", "value": "3u" },
          { "name": "t1(s)", "value": "0.5" },
          { "name": "t2(s)", "value": "200m" },
          { "name": "t3(s)", "value": "50u" },
          { "name": "t(0)", "value": "1m" }
        ],

        "ISO2a 12V": [
          { "name": "Ua", "value": "13.5" },
          { "name": "Us", "value": "112" },
          { "name": "Ri", "value": "2" },
          { "name": "td", "value": "0.05m" },
          { "name": "tr(s)", "value": "1u" },
          { "name": "t1(s)", "value": "0.2" },
          { "name": "t(0)", "value": "1m" }
        ],
        "ISO2a 24V": [
          { "name": "Ua", "value": "27" },
          { "name": "Us", "value": "112" },
          { "name": "Ri", "value": "2" },
          { "name": "td", "value": "0.05m" },
          { "name": "tr(s)", "value": "1u" },
          { "name": "t1(s)", "value": "0.2" },
          { "name": "t(0)", "value": "1m" }
        ],
        "ISO2b 12V": [
          { "name": "Ua", "value": "13.5" },
          { "name": "Us", "value": "10" },
          { "name": "Ri", "value": "0.05" },
          { "name": "td", "value": "0.2" },
          { "name": "t12(s)", "value": "1m" },
          { "name": "tr(s)", "value": "1m" },
          { "name": "t6(s)", "value": "1m" },
          { "name": "trep(s)", "value": "5" },
          { "name": "ton(s)", "value": "1" },
          { "name": "t0(s)", "value": "1m" }
        ],
        "ISO2b 24V": [
          { "name": "Ua", "value": "27" },
          { "name": "Us", "value": "20" },
          { "name": "Ri", "value": "0.05" },
          { "name": "td", "value": "0.2" },
          { "name": "t12(s)", "value": "1m" },
          { "name": "tr(s)", "value": "1m" },
          { "name": "t6(s)", "value": "1m" },
          { "name": "trep(s)", "value": "5" },
          { "name": "ton(s)", "value": "1" },
          { "name": "t0(s)", "value": "1m" }
        ],

        "ISO3a 12V": [
          { "name": "Ua", "value": "13.5" },
          { "name": "Us", "value": "-300" },
          { "name": "Ri", "value": "50" },
          { "name": "td(s)", "value": "150n" },
          { "name": "tr(s)", "value": "5n" },
          { "name": "t1(s)", "value": "100u" },
          { "name": "t0(s)", "value": "1m" },
          { "name": "t4(s)", "value": "10m" },
          { "name": "t5(s)", "value": "90m" }

        ],
        "ISO3a 24V": [
          { "name": "Ua", "value": "27" },
          { "name": "Us", "value": "-220" },
          { "name": "Ri", "value": "50" },
          { "name": "td(s)", "value": "150n" },
          { "name": "tr(s)", "value": "5n" },
          { "name": "t1(s)", "value": "100u" },
          { "name": "t0(s)", "value": "1m" },
          { "name": "t4(s)", "value": "10m" },
          { "name": "t5(s)", "value": "90m" }
        ],
        "ISO3b 12V": [
          { "name": "Ua", "value": "13.5" },
          { "name": "Us", "value": "150" },
          { "name": "Ri", "value": "50" },
          { "name": "td(s)", "value": "150n" },
          { "name": "tr(s)", "value": "5n" },
          { "name": "t1(s)", "value": "100u" },
          { "name": "t0(s)", "value": "1m" },
          { "name": "t4(s)", "value": "10m" },
          { "name": "t5(s)", "value": "90m" }
        ],
        "ISO3b 24V": [
          { "name": "Ua", "value": "27" },
          { "name": "Us", "value": "300" },
          { "name": "Ri", "value": "50" },
          { "name": "td(s)", "value": "150n" },
          { "name": "tr(s)", "value": "5n" },
          { "name": "t1(s)", "value": "100u" },
          { "name": "t0(s)", "value": "1m" },
          { "name": "t4(s)", "value": "10m" },
          { "name": "t5(s)", "value": "90m" }
        ],
        "ISO5 12V": [
          { "name": "Ua", "value": "14" },
          { "name": "Us", "value": "101" },
          { "name": "UsClamp", "value": "35" },
          { "name": "Ri", "value": "0.5" },
          { "name": "td(s)", "value": "40m" },
          { "name": "tr(s)", "value": "5m" },
          { "name": "t0(s)", "value": "1" }
        ],
        "ISO5 24V": [
          { "name": "Ua", "value": "28" },
          { "name": "Us", "value": "202" },
          { "name": "UsClamp", "value": "58" },
          { "name": "Ri", "value": "1" },
          { "name": "td(s)", "value": "100m" },
          { "name": "tr(s)", "value": "5m" },
          { "name": "t0(s)", "value": "1" }
        ]


      },

      "RunParams": [
        { "name": "Stop time", "value": "10", "units": ["s", "ms", "us"] },
        { "name": "Time to start saving data", "value": "10", "units": ["s", "ms", "us"] },
        { "name": "Maximum Timestep", "value": "10", "units": ["s", "ms", "us"] },
      ],

      "Measurements": {
        "voltage": true,
        "current": true,
        "power": true,
        "frequency": false,
        // "powerLoss": false,
        // "thermal": false
      }
    };

    const voltage_params = [
      { "name": "Peak", "unit": ["V", "kV", "mV"] },
      { "name": "RMS", "unit": ["V", "kV", "mV"] },
      { "name": "Average", "unit": ["V", "kV", "mV"] },
      { "name": "Frequency", "unit": ["Hz", "kHz", "MHz"] },
      { "name": "Rise time", "unit": ["s", "ms", "us"] },
      { "name": "Fall time", "unit": ["s", "ms", "us"] },
      { "name": "Total time", "unit": ["s", "ms", "us"] },
      { "name": "Prop. delay", "unit": ["s", "ms", "us"] },
      { "name": "Transient duration", "unit": ["s", "ms", "us"] }
    ]

    const current_params = [
      { "name": "Peak", "unit": ["A", "kA", "mA"] },
      { "name": "RMS", "unit": ["A", "kA", "mA"] },
      { "name": "Average", "unit": ["A", "kA", "mA"] },
      { "name": "Frequency", "unit": ["Hz", "kHz", "MHz"] },
      { "name": "Rise time", "unit": ["s", "ms", "us"] },
      { "name": "Fall time", "unit": ["s", "ms", "us"] },
      { "name": "Total time", "unit": ["s", "ms", "us"] },
      { "name": "Prop. delay", "unit": ["s", "ms", "us"] },
      { "name": "Transient duration", "unit": ["s", "ms", "us"] }
    ]

    const power_params= [
      { "name": "Peak", "unit": ["A", "kA", "mA"] },
      { "name": "RMS", "unit": ["A", "kA", "mA"] },
      { "name": "Average", "unit": ["A", "kA", "mA"] },
      { "name": "Frequency", "unit": ["Hz", "kHz", "MHz"] },
      { "name": "Rise time", "unit": ["s", "ms", "us"] },
      { "name": "Fall time", "unit": ["s", "ms", "us"] },
      { "name": "Total time", "unit": ["s", "ms", "us"] },
      { "name": "Prop. delay", "unit": ["s", "ms", "us"] },
      { "name": "Transient duration", "unit": ["s", "ms", "us"] }
    ]

    const frequency_params = [
      { "name": "Peak", "unit": ["A", "kA", "mA"] },
      { "name": "RMS", "unit": ["A", "kA", "mA"] },
      { "name": "Average", "unit": ["A", "kA", "mA"] },
      { "name": "Frequency", "unit": ["Hz", "kHz", "MHz"] },
      { "name": "Rise time", "unit": ["s", "ms", "us"] },
      { "name": "Fall time", "unit": ["s", "ms", "us"] },
      { "name": "Total time", "unit": ["s", "ms", "us"] },
      { "name": "Prop. delay", "unit": ["s", "ms", "us"] },
      { "name": "Transient duration", "unit": ["s", "ms", "us"] }
    ]
    //when the user click on runsimulation, fill this data
    // Note this is further complex, like every probe-ref has a table data so instead of "parameters" use "probe-ref" as key
    const table_data =  [
        {
          "name": "Peak",
          "value": 90,
          "units": "V",
          "totalDuration": 1.5,
          "units2": "us"
        },
        {
          "name": "RMS",
          "value": 63,
          "units": "V",
          "totalDuration": 1.5,
          "units2": "us"
        },
        {
          "name": "Average",
          "value": 54,
          "units": "V",
          "totalDuration": 1.5,
          "units2": "us"
        },
        {
          "name": "Frequency",
          "value": 400,
          "units": "Hz",
          "totalDuration": null,
          "units2": null
        },
        {
          "name": "Rise time",
          "value": 5,
          "units": "us",
          "totalDuration": null,
          "units2": null
        },
        {
          "name": "Fall time",
          "value": 10,
          "units": "us",
          "totalDuration": null,
          "units2": null
        },
        {
          "name": "Total time",
          "value": 15,
          "units": "us",
          "totalDuration": null,
          "units2": null
        },
        {
          "name": "Prop. delay",
          "value": 22,
          "units": "us",
          "totalDuration": null,
          "units2": null
        },
        {
          "name": "Transient duration",
          "value": 3,
          "units": "s",
          "totalDuration": null,
          "units2": null
        }
      ];

    var graph_data =
      [
        ['Time', 'Voltage'],
        ['4', 657],
        ['5', -959],
        ['6', -279],
        ['7', 937],
        ['8', 989],
        ['9', 412],
        ['10', -841],
        ['11', -998],
        ['12', -536],
        ['13', 717],
        ['14', 993],
        ['15', 646],
        ['16', -587],
        ['17', -974],
        ['18', -740],
        ['19', 447],
        ['20', 940],
        ['21', 814],
        ['22', -298],
        ['23', -892],
        ['24', -869],
        ['25', 143],
        ['26', 832],
        ['27', 904],
        ['28', 13],
        ['29', -762],
        ['30', -919],
        ['31', -168],
        ['32', 683],
        ['33', 914],
        ['34', 318],
        ['35', -597],
        ['36', -889],
        ['37', -457],
        ['38', 501],
        ['39', 845],
        ['40', 577]
      ];


    // let comp_node_data = ''
    var comp_node_data = {};

    var nodes_list = [];

  </script>

  <style>
    .collapse-link {
      text-decoration: none;
      cursor: pointer;
    }

    .collapse-link:hover {
      color: inherit;
    }
  </style>
</head>

<body onload="initialize()">
  <div class="container-md p-5 overflow-y-scroll h-75">

    <!-- Image Display Container -->



    <form action="/submit" method="post" id="warningForm">
      {% csrf_token %}

      <!-- Configure Simulation Section -->
      <div class="mb-4">
        <div class="card">
          <div class="card-header" id="configureSimulationHeader">
            <h5 class="mb-0">
              <a href="#" class="collapse-link" data-bs-toggle="collapse" data-bs-target="#configureSimulation"
                aria-expanded="true" aria-controls="configureSimulation">
                <span class="symbol">▶</span> <strong>Configure Simulation</strong>
              </a>
            </h5>
          </div>
          <div id="configureSimulation" class="collapse show" aria-labelledby="configureSimulationHeader">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <label for="imageUploadPanel1" class="form-label"><b>Pulse Generator Circuit</b></label>
                  <div id="pulseGeneratorImageContainer"
                    style="display: block; width: 100%; max-width: 400px; margin-bottom: 20px;">
                    <img id="pulseGeneratorImage" style="max-width: 100%; height: auto; object-fit: contain;" />
                  </div>
                  <input type="file" id="imageUploadPanel1" class="form-control" accept=".asc" single onchange="">
                </div>
                <div class="col-6">
                  <label for="imageUploadPanel2" class="form-label"><b>Device Under Test (DUT) Circuit</b></label>
                  <div id="dutCircuitImageContainer"
                    style="display: block; width: 100%; max-width: 400px; margin-bottom: 20px;">
                    <img id="dutCircuitImage" style="max-width: 100%; height: auto; object-fit: contain;" />
                  </div>
                  <input type="file" id="imageUploadPanel2" class="form-control" accept=".asc" single>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Simulation Parameters Section -->
      <div class="mb-4">
        <div class="card">
          <div class="card-header" id="simulationParametersHeader">
            <div style="display: flex; justify-content: space-between;">
              <h5 class="mb-0">
                <a href="#" class="collapse-link" data-bs-toggle="collapse" data-bs-target="#simulationParameters"
                  aria-expanded="false" aria-controls="simulationParameters">
                  <span class="symbol">▶</span> <strong>Simulation Parameters</strong>
                </a>
              </h5>

              <div>
                <div class="text-end">
                  <button class="btn btn-primary" style="width: 7rem;" onclick="RunSimulation()">Run</button>
                  <button class="btn btn-primary" style="width: 7rem;" onclick="PauseSimulation()">Pause</button>

                </div>
              </div>

            </div>
          </div>
          <div id="simulationParameters" class="collapse" aria-labelledby="simulationParametersHeader">
            <div class="card-body" id="simulationParametersBody">

            </div>
          </div>
        </div>
      </div>

      <!-- Visualize Simulation Results Section -->

      <div class="mb-4" id="outerVisualiseResultsSection" style="display: none;">
        <div class="card">
          <div class="card-header" id="visualizeSimulationResultsHeader">
            <h5 class="mb-0">
              <a href="#" class="collapse-link" data-bs-toggle="collapse" data-bs-target="#visualizeSimulationResults"
                aria-expanded="false" aria-controls="visualizeSimulationResults">
                <span class="symbol">▶</span> <strong>Visualize Simulation Results</strong>
              </a>
            </h5>
          </div>
          <div id="visualizeSimulationResults" class="collapse" aria-labelledby="visualizeSimulationResultsHeader">
            <div class="card-body" id="visualiseSimulationBody">

            </div>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label id="lblMessage" class="form-label px-1"></label>
        {{ new_element|escape }}
      </div>
    </form>
  </div>




  <script>
    function initialize() {
      createSimulationParamSection();
    }

    function createSimulationParamSection() {
      const simulationParametersBody = document.getElementById('simulationParametersBody');

      ['Pulse Parameters', 'Run Parameters',].forEach(type => {
        const card = document.createElement('div');
        card.className = 'card mb-2';

        const id = `${type.toLowerCase().replace(/\s+/g, '-')}`;

        const header = document.createElement('div');
        header.className = 'card-header';
        header.innerHTML = `
            <h5 class="mb-0">
              <a href="#" class="collapse-link" data-bs-toggle="collapse" data-bs-target="#${id}Section">
                <span class="symbol">▶</span> <strong>${type}</strong>
              </a>
            </h5>
          `;

        const body = document.createElement('div');
        body.id = `${type.toLowerCase().replace(/\s+/g, '-')}Section`;
        body.className = 'collapse p-3';
        // body.innerHTML = `<div class="card-body"></div>`;

        card.appendChild(header);
        card.appendChild(body);
        simulationParametersBody.appendChild(card);
        createSimulationSection(type);
      });

      // Add the save button
      // const saveButtonDiv = document.createElement('div');
      // saveButtonDiv.className = 'text-end';

      // const saveBtn = document.createElement('button');
      // saveBtn.id = 'saveBtn';
      // saveBtn.className = 'btn btn-success';
      // saveBtn.style.width = '7rem';
      // saveBtn.textContent = 'Save';
      // saveBtn.onclick = save;

      // saveButtonDiv.appendChild(saveBtn);
      // simulationParametersBody.appendChild(saveButtonDiv);
    }

    function createSimulationSection(type) {
      const id = `${type.toLowerCase().replace(/\s+/g, '-')}Section`;
      if (type === 'Pulse Parameters') {
        createPulseParamForm(id);
      } else if (type === 'Run Parameters') {
        createRunParamForm(id);
      }
    }

    function createVisualiseBody(visualiseBodySections) {
      const visualiseBody = document.getElementById('visualiseSimulationBody');

      // const visualiseBodySections = ['Voltage', 'Current', 'Power'];

      visualiseBodySections.forEach(type => {
        const card = document.createElement('div');
        card.className = 'card mb-2';

        const header = document.createElement('div');
        header.className = 'card-header';
        header.innerHTML = `
            <h5 class="mb-0">
              <a href="#" class="collapse-link" data-bs-toggle="collapse" data-bs-target="#${type.toLowerCase()}Section">
                <span class="symbol">▶</span> <strong>${type}</strong>
              </a>
            </h5>
          `;

        const body = document.createElement('div');
        body.id = `${type.toLowerCase()}Section`;
        body.className = 'collapse';
        body.innerHTML = `<div class="card-body"></div>`;

        card.appendChild(header);
        card.appendChild(body);
        visualiseBody.appendChild(card);
        createVisualiseSection(type);
      });
    }

    function createVisualiseSection(type) {
      const section = document.getElementById(`${type.toLowerCase()}Section`);

      if (type === 'Voltage') {
        createVoltageSection("voltageSection");
      } else if (type === 'Current') {
        createVoltageSection("currentSection");
      } else if (type === 'Power') {
        createVoltageSection('powerSection');
      } else if (type === 'Frequency') {
        createVoltageSection('frequencySection');
      }
    }


    function createVoltageSection(SectionID) {
      const voltageSection = document.getElementById(SectionID);
      voltageSection.innerHTML = ""; // Clear existing content
      // Create the header row for probe and reference
      const headRow = document.createElement("div");
      headRow.className = "d-flex justify-content-between align-items-center mb-2";

      // Probe header
      const head1 = document.createElement("input");
      head1.type = "text";
      head1.className = "form-control me-2";
      head1.placeholder = "Probe";
      head1.value = "Probe";
      head1.disabled = true;
      head1.style.backgroundColor = '#A9A9A9';

      // Ref header
      const head2 = document.createElement("input");
      head2.type = "text";
      head2.className = "form-control me-2";
      head2.placeholder = "Ref";
      head2.value = "Ref";
      head2.disabled = true;
      head2.style.backgroundColor = '#A9A9A9';

      const head3 = document.createElement("input");
      head3.type = "text";
      head3.className = "form-control";
      head3.placeholder = "Select";
      head3.value = "Select";
      head3.disabled = true;
      head3.style.backgroundColor = '#A9A9A9';

      //set the width of head1, head2, head3 as 45,45,10
      head1.style.width = '45%';
      head2.style.width = '45%';
      head3.style.width = '10%';


      // Append probe and ref
      headRow.appendChild(head1);
      headRow.appendChild(head2);
      headRow.appendChild(head3);
      //add left, right, top padding to the header row
      headRow.style.padding = '0.5rem 0.5rem 0.5rem 0.5rem';




      voltageSection.appendChild(headRow);


      Object.entries(comp_node_data).forEach(([comp, nodes]) => {
        const node1 = nodes[0];
        const node2 = nodes[1];
        // Create a card for each probe
        const card = document.createElement("div");
        card.className = "card";

        // Create the header row for probe and reference
        const probeRow = document.createElement("div");
        probeRow.className = "d-flex justify-content-between align-items-center mb-2";

        // Probe input
        const probeInput = document.createElement("input");
        probeInput.type = "text";
        probeInput.className = "form-control me-2";
        probeInput.placeholder = "Probe";
        probeInput.value = node1;
        probeInput.disabled = true;
        // probeInput.style.backgroundColor = 'white';

        // Ref input
        const refInput = document.createElement("input");
        refInput.type = "text";
        refInput.className = "form-control";
        refInput.placeholder = "Ref";
        refInput.value = node2;
        refInput.disabled = true;
        // refInput.style.backgroundColor = 'white';

        //create a checkbox
        const checkBoxdiv = document.createElement('div');
        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.className = 'form-check-input me-2';
        checkbox.id = `checkbox-${node1}-${node2}`;
        //add some margin to the checkbox
        checkbox.style.margin = '0.5rem';
        //increase the size of the checkbox
        checkbox.style.transform = 'scale(1.5)';

        checkBoxdiv.appendChild(checkbox);
        //center the checkbox
        checkBoxdiv.style.display = 'grid';
        checkBoxdiv.style.justifyContent = 'center';
        checkBoxdiv.style.alignItems = 'center';


        //set the width of probe, ref as 45,45
        probeInput.style.width = '45%';
        refInput.style.width = '45%';
        checkBoxdiv.style.width = '10%';



        // Append probe and ref
        probeRow.appendChild(probeInput);
        probeRow.appendChild(refInput);
        probeRow.appendChild(checkBoxdiv);

        // Add parameter section
        const paramContainer = document.createElement("div");

        paramContainer.className = "row g-2 m-3";

        // Create container for rows
        const rowsContainer = document.createElement("div");


        params = '';
        // if SectionID is voltageSection, then use voltage_params, else use current_params 
        if (SectionID === 'voltageSection') {
          params = voltage_params;
        } else if (SectionID === 'currentSection') {
          params = current_params;
        } else if (SectionID === 'powerSection') {
          params = power_params;
        } else if (SectionID === 'frequencySection') {
          params = frequency_params;
        }

        // Group parameters into pairs
        for (let i = 0; i < params.length; i += 2) {
          const rowDiv = document.createElement("div");
          rowDiv.className = "row mb-2";

          // First parameter in pair
          const col1 = document.createElement("div");
          col1.className = "col-6 d-flex align-items-center";

          const checkbox1 = document.createElement("input");
          checkbox1.type = "checkbox";
          checkbox1.className = "form-check-input me-2";
          checkbox1.style.transform = 'scale(1.5)';

          const paramLabel1 = document.createElement("span");
          paramLabel1.textContent = params[i].name;
          paramLabel1.className = "me-3";
          paramLabel1.style.width = '5rem';

          const unitSelect1 = document.createElement("select");
          unitSelect1.className = "form-select form-select-sm";
          unitSelect1.style.width = '5rem';
          params[i].unit.forEach((unit) => {
            const option = document.createElement("option");
            option.value = unit;
            option.textContent = unit;
            unitSelect1.appendChild(option);
          });

          col1.appendChild(checkbox1);
          col1.appendChild(paramLabel1);
          col1.appendChild(unitSelect1);
          rowDiv.appendChild(col1);

          // Second parameter in pair (if exists)
          if (i + 1 < params.length) {
            const col2 = document.createElement("div");
            col2.className = "col-6 d-flex align-items-center";

            const checkbox2 = document.createElement("input");
            checkbox2.type = "checkbox";
            checkbox2.className = "form-check-input me-2";
            checkbox2.style.transform = 'scale(1.5)';

            const paramLabel2 = document.createElement("span");
            paramLabel2.textContent = params[i + 1].name;
            paramLabel2.className = "me-3";
            paramLabel2.style.width = '5rem';

            const unitSelect2 = document.createElement("select");
            unitSelect2.className = "form-select form-select-sm";
            unitSelect2.style.width = '5rem';
            params[i + 1].unit.forEach((unit) => {
              const option = document.createElement("option");
              option.value = unit;
              option.textContent = unit;
              unitSelect2.appendChild(option);
            });

            col2.appendChild(checkbox2);
            col2.appendChild(paramLabel2);
            col2.appendChild(unitSelect2);
            rowDiv.appendChild(col2);
          }

          paramContainer.appendChild(rowDiv);
        }

        // Add "Visualise" button
        const visualiseButton = document.createElement("button");
        visualiseButton.textContent = "Visualise";
        visualiseButton.className = "btn btn-primary mt-3";
        visualiseButton.onclick = () => {
          event.preventDefault();
          // Get the selected parameters
          const selectedParams = Array.from(paramContainer.querySelectorAll('input[type="checkbox"]:checked')).map((checkbox) => {
            const param = checkbox.nextElementSibling.textContent;
            const unit = checkbox.nextElementSibling.nextElementSibling.value;
            return {
              "name": param,
              "unit": unit,
            }

          });

          const final_data = {
            "probe": node1,
            "ref": node2,
            "params": selectedParams,
            "visualisationCard_id": `visualisation-${node1}-${node2}-${SectionID}`
          }

          console.log(final_data);
          plotGraph(final_data, SectionID);
        };

        // Append everything to the card
        card.appendChild(probeRow);

        //if it is unchecked, hide the param container
        checkbox.addEventListener('change', (event) => {
          paramContainer.style.display = event.target.checked ? 'block' : 'none';
          //hide visualise button if unchecked
          visualiseButton.style.display = event.target.checked ? 'block' : 'none';
          //hide graph and table if unchecked
          document.getElementById(`visualisation-${node1}-${node2}-${SectionID}`).style.display = 'none';
          // document.getElementById(`table-${item.probe}-${item.ref}`).style.display = 'none';

          //if unchecked remove the boundary of card
          card.style.border = event.target.checked ? '1px solid #ccc' : 'none';
          card.style.margin = event.target.checked ? '1rem' : '0';
          card.style.padding = event.target.checked ? '0.5rem' : '0 0.5rem 0 0.5rem';
        });

        //by default keep both of them hidden
        paramContainer.style.display = 'none';
        visualiseButton.style.display = 'none';
        card.appendChild(paramContainer);
        card.appendChild(visualiseButton);

        //create an card and keep it hidden
        const visualisationCard = document.createElement('div');
        visualisationCard.className = 'card mt-3';
        visualisationCard.style.display = 'none';
        visualisationCard.id = `visualisation-${node1}-${node2}-${SectionID}`;

        card.appendChild(visualisationCard);

        //default styling for the card
        card.style.margin = '0';
        card.style.padding = '0 0.5rem 0 0.5rem';
        card.style.border = 'none'


        // Append card to the voltage section
        voltageSection.appendChild(card);

      });

      //create 2 buttons for save as, and export
      const saveAs = document.createElement('button');
      saveAs.textContent = 'Save As';
      saveAs.className = 'btn btn-primary mt-3 me-3 btn-lg';

      const exportBtn = document.createElement('button');
      exportBtn.textContent = 'Export to Excel';
      exportBtn.className = 'btn btn-primary mt-3 me-3 btn-lg';

      saveAs.addEventListener('click', () => {
        event.preventDefault();

        const checkedNames = Object.keys(comp_node_data)
        // alert(`Exporting: ${checkedNames.join(', ')}`);

        var csvContent = "";

        //TODO: Implement API 

        // var formData = new FormData();
        // formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        // formData.append("requestId", requestId);
        // formData.append("components", checkedNames.join(','));
        // formData.append("sectionId", SectionID);

        // $.ajax({
        //   url: "/get_report_data/",  
        //   type: "POST",
        //   data: formData,
        //   processData: false,
        //   contentType: false,
        //   success: function (response) {
        //     if (response.status === 'success') {
        //       //update the data[pulse params][port1, port2] with the nodes
        //       console.log(response.nodes);
        //       console.log(response.complete_node_data);

        //       csvContent = response.csvContent;


        //     } else {
        //       alert('Error: nodes data not generated.');
        //     }
        //   },
        // });


        csvContent = "Parameter,Value,Units,Total Duration,Units\nPeak,90,V,1.5,us\nRMS,63,V,1.5,us\nAverage,54,V,1.5,us\nFrequency,400,Hz,,\nRise time,5,us,,\nFall time,10,us,,\nTotal time,15,us,,\nProp. delay,22,us,,\nTransient duration,3,s,,";

        downloadCSV(csvContent, SectionID +'_complete_report.csv');

      });

      exportBtn.addEventListener('click', () => exportToExcel('custom-export-div', SectionID));
      //put both of them in one row and append to graph card
      const buttonRow = document.createElement('div');
      buttonRow.className = 'd-flex justify-content-end mb-3 pr-3';
      buttonRow.appendChild(saveAs);
      buttonRow.appendChild(exportBtn);

      const customExportDiv = document.createElement('div');
      customExportDiv.id = 'custom-export-div';
      voltageSection.appendChild(buttonRow);
      voltageSection.appendChild(customExportDiv);
    }


    function plotGraph(data, SectionID) {
      // data = {
      //       "probe": item.probe,
      //       "ref": item.ref,
      //       "params": selectedParams,
      //       "visualisationCard_id": `visualisation-${item.probe}-${item.ref}`
      //     }

      const graphDivID = `graph-${data.probe}-${data.ref}`;

      const visualisationCard = document.getElementById(data.visualisationCard_id);
      visualisationCard.style.display = 'block';
      visualisationCard.innerHTML = '';

      const graphdiv = document.createElement('div');
      graphdiv.className = 'card-body';
      graphdiv.style.height = '700px';
      // graphdiv.style.width = '100%';
      graphdiv.style.border = '1px solid #ccc';
      graphdiv.style.overflow = 'auto';
      graphdiv.id = graphDivID;


      const tableDiv = document.createElement('div');
      const table = document.createElement('table');
      const tableID = `table-${data.probe}-${data.ref}`;
      table.id = tableID;
      tableDiv.style.padding = '2rem';
      tableDiv.appendChild(table);


      // var graph_data = '';
      // var table_data = '';

      // var formData = new FormData();
      // formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
      // formData.append("requestId", requestId);
      // formData.append("probe", data.probe);
      // formData.append("ref", data.ref);
      // formData.append("sectionID", SectionID);

      //TODO: Implement API
      // $.ajax({
      //   url: "/get_graph_data/",
      //   type: "POST",
      //   data: formData,
      //   processData: false,
      //   contentType: false,
      //   success: function (response) {
      //     if (response.status === 'success') {
      //       
      //       graph_data = response.graph_data;

      //     } else {
      //       alert('Error: nodes data not generated.');
      //     }
      //   },
      // });

      //TODO: Implement API
      // $.ajax({
      //   url: "/get_table_data/",
      //   type: "POST",
      //   data: formData,
      //   processData: false,
      //   contentType: false,
      //   success: function (response) {
      //     if (response.status === 'success') {
      //       
      //       table_data = response.table_data;

      //     } else {
      //       alert('Error: nodes data not generated.');
      //     }
      //   },
      // });

      fill_graph(graphDivID, graph_data);
      fill_table(table, table_data, data.params);

      visualisationCard.appendChild(graphdiv);
      visualisationCard.appendChild(tableDiv);

    }

    function exportToExcel(customExportDiv, SectionID) {
      event.preventDefault();
      // Get the custom export div
      const customExport = document.getElementById(customExportDiv);

      // Remove any existing export container
      const existingContainer = document.getElementById('export-to-excel-container');
      if (existingContainer) {
        existingContainer.remove();
      }



      // Create the main container
      const container = document.createElement('div');
      container.id = 'export-to-excel-container';
      container.classList.add('container', 'my-4');
      container.style.display = 'grid';
      container.style.justifyContent = 'end';

      // Create the "Export to Excel" header
      const header = document.createElement('h4');
      header.textContent = 'Export to Excel';
      container.appendChild(header);

      // Create the "Select all" and "Custom" buttons
      const buttonGroup = document.createElement('div');
      buttonGroup.classList.add('btn-group', 'mb-3');

      const selectAllBtn = document.createElement('button');
      selectAllBtn.id = 'select-all';
      selectAllBtn.classList.add('btn', 'btn-secondary', 'me-2');
      selectAllBtn.textContent = 'Select all';
      buttonGroup.appendChild(selectAllBtn);

      const customBtn = document.createElement('button');
      customBtn.id = 'custom';
      customBtn.classList.add('btn', 'btn-secondary', 'me-3');
      customBtn.textContent = 'Custom';
      buttonGroup.appendChild(customBtn);

      container.appendChild(buttonGroup);

      // Create the custom options div
      const customOptions = document.createElement('div');
      customOptions.id = 'custom-options';
      customOptions.classList.add('mb-3', 'd-none');

      // Create the list of components
      const componentList = document.createElement('div');
      componentList.id = 'component-list';
      componentList.classList.add('form-check', 'mb-3');

      const componentData = Object.keys(comp_node_data).map(key => ({
        name: key,
        isChecked: false
      }));

      componentData.forEach((component) => {
        const componentDiv = document.createElement('div');
        componentDiv.classList.add('form-check', 'mb-2');

        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.classList.add('form-check-input', 'me-2');
        checkbox.checked = component.isChecked;

        //increase the size of checkbox
        checkbox.style.transform = 'scale(1.5)';

        // Add event listener to update the isChecked property
        checkbox.addEventListener('change', () => {
          component.isChecked = checkbox.checked;
        });

        const label = document.createElement('label');
        label.classList.add('form-check-label');
        label.textContent = component.name;

        componentDiv.appendChild(checkbox);
        componentDiv.appendChild(label);
        componentList.appendChild(componentDiv);
      });

      customOptions.appendChild(componentList);

      // Create the "Export" button
      const exportBtn = document.createElement('button');
      exportBtn.id = 'custom-export';
      exportBtn.classList.add('btn', 'btn-primary');
      exportBtn.textContent = 'Export';
      customOptions.appendChild(exportBtn);

      container.appendChild(customOptions);

      // Add the container to the customExportDiv
      customExport.appendChild(container);

      // Add event listeners
      selectAllBtn.addEventListener('click', () => {
        event.preventDefault();
        //get the name of all the components from the componentData in a list
        const checkedNames = componentData.map((component) => component.name);
        var csvContent = "";
        // alert(`Exporting: ${checkedNames.join(', ')}`);

        //TODO: Implement API 
        // var formData = new FormData();
        // formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        // formData.append("requestId", requestId);
        // formData.append("components", checkedNames.join(','));
        // formData.append("sectionId", SectionID);

        // $.ajax({
        //   url: "/get_report_data/",  
        //   type: "POST",
        //   data: formData,
        //   processData: false,
        //   contentType: false,
        //   success: function (response) {
        //     if (response.status === 'success') {

        //       csvContent = response.csvContent;


        //     } else {
        //       alert('Error: nodes data not generated.');
        //     }
        //   },
        // });

        // dummy content
        csvContent = "Parameter,Value,Units,Total Duration,Units\nPeak,90,V,1.5,us\nRMS,63,V,1.5,us\nAverage,54,V,1.5,us\nFrequency,400,Hz,,\nRise time,5,us,,\nFall time,10,us,,\nTotal time,15,us,,\nProp. delay,22,us,,\nTransient duration,3,s,,";

        downloadCSV(csvContent, SectionID + '_complete_report.csv');
      });

      customBtn.addEventListener('click', () => {
        event.preventDefault();
        customOptions.classList.toggle('d-none');


      });

      exportBtn.addEventListener('click', () => {
        event.preventDefault();
        const checkedComponents = componentData.filter((component) => component.isChecked);
        const checkedNames = checkedComponents.map((component) => component.name);
        var csvContent = "";
        // alert(`Exporting: ${checkedNames.join(', ')}`);

        //TODO: Implement API 
        // var formData = new FormData();
        // formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        // formData.append("requestId", requestId);
        // formData.append("components", checkedNames.join(','));
        // formData.append("sectionId", SectionID);

        // $.ajax({
        //   url: "/get_report_data/",  
        //   type: "POST",
        //   data: formData,
        //   processData: false,
        //   contentType: false,
        //   success: function (response) {
        //     if (response.status === 'success') {
        //       csvContent = response.csvContent;


        //     } else {
        //       alert('Error: nodes data not generated.');
        //     }
        //   },
        // });
        csvContent = "Parameter,Value,Units,Total Duration,Units\nPeak,90,V,1.5,us\nRMS,63,V,1.5,us\nAverage,54,V,1.5,us\nFrequency,400,Hz,,\nRise time,5,us,,\nFall time,10,us,,\nTotal time,15,us,,\nProp. delay,22,us,,\nTransient duration,3,s,,";

        downloadCSV(csvContent, SectionID+'_custom_report.csv');
      });
    }


    function downloadCSV(csvContent, name) {
      const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = name;
      link.click();
    }

    function fill_graph(graph, graph_data) {

      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(graph_data);

        var options = {
          title: graph.split('-').join(' '),
          curveType: 'function',
          legend: { position: 'bottom' },
          explorer: { actions: ['dragToPan', 'dragToZoom', 'rightClickToReset'] },
          // width: graph_data.length * 40,
          hAxis: { showTextEvery: 2 },
          // height: 700
        };

        var chart = new google.visualization.LineChart(document.getElementById(graph));

        chart.draw(data, options);
      }


    }


    function fill_table(tableElement, data, selectedParams) {

      // const tableElement = document.getElementById(tableID);
      // Clear the existing table content
      tableElement.innerHTML = '';

      // Create the table header
      const tableHeader = document.createElement('thead');
      const headerRow = document.createElement('tr');
      headerRow.innerHTML = `
    <th>Parameter</th>
    <th>Value</th>
    <th>Units</th>
    <th>Total Duration</th>
    <th>Units</th>
  `;
      tableHeader.appendChild(headerRow);
      tableElement.appendChild(tableHeader);

      const namesArray = selectedParams.map(item => item.name);

      // Create the table body
      const tableBody = document.createElement('tbody');
      data.forEach((param) => {
        if (!namesArray.includes(param.name)) return;
        const row = document.createElement('tr');
        row.innerHTML = `
      <td>${param.name}</td>
      <td>${param.value}</td>
      <td>${param.units}</td>
      <td>${param.totalDuration || ''}</td>
      <td>${param.units2 || ''}</td>
    `;
        tableBody.appendChild(row);
      });
      tableElement.appendChild(tableBody);

      // Apply Bootstrap styles
      tableElement.classList.add('table', 'table-striped', 'table-bordered', 'table-hover');
    }

    function RunSimulation() {
      event.preventDefault();

      //clear the visualiseSimulationBody div
      document.getElementById('visualiseSimulationBody').innerHTML = '';

      // hide the outerVisualiseResultsSection if it's visible
      document.getElementById('outerVisualiseResultsSection').style.display = 'none';



      const msg = document.getElementById('lblMessage');
      msg.style.fontSize = '1.25rem';
      msg.textContent = 'Simulation is running...';
      //set the text colour to blue
      msg.style.color = 'blue';


      const simulationParams = save();
      console.log("simulationParams");
      console.log(simulationParams);

      //TODO: Implement API 
      // var formData = new FormData();
        // formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        // formData.append("requestId", requestId);
        // formData.append("simulationParams", simulationParams);
      

        // $.ajax({
        //   url: "/run_simulation/",  
        //   type: "POST",
        //   data: formData,
        //   processData: false,
        //   contentType: false,
        //   success: function (response) {
        //     if (response.status === 'success') {
        //       //update the data[pulse params][port1, port2] with the nodes
        //      console.log(response.status);


        //     } else {
        //       alert('Error: nodes data not generated.');
        //     }
        //   },
        // });

      const chosenSections = simulationParams.measurements;
      const visualisationSections = Object.keys(chosenSections)
        .filter(key => chosenSections[key])
        .map(key => key.charAt(0).toUpperCase() + key.slice(1));

      createVisualiseBody(visualisationSections);

      // Add 2 second delay before showing results //TODO: Remove this
      setTimeout(() => {
        console.log("running simulation");
        document.getElementById('outerVisualiseResultsSection').style.display = 'block';
        msg.textContent = 'Simulation is completed...';
        msg.style.color = 'green';

      }, 2000);

    }

    //TODO: Implement this
    function PauseSimulation() {
      event.preventDefault();
      document.getElementById('lblMessage').textContent = 'Simulation is paused.';
    }

    function createPulseParamForm(Section_id) {
      // Create form for pulse parameters
      const pulseParamDiv = document.getElementById(Section_id);

      // empty the pulseParamDiv
      pulseParamDiv.innerHTML = '';


      const form = document.createElement('form');
      // form.className = 'mt-3';

      // Create ports section
      const portsDiv = document.createElement('div');
      portsDiv.className = 'row mb-4';

      Object.entries(data.PulseParams).forEach(([portName, nodes]) => {
        if (portName.startsWith('Port')) {
          const col = document.createElement('div');
          col.className = 'col-md-4';

          const formGroup = document.createElement('div');
          formGroup.className = 'form-group mb-3 d-flex align-items-center';

          const label = document.createElement('label');
          label.textContent = portName;
          label.className = 'form-label me-2 mb-0';
          label.style.width = '4rem'; // Fixed width for label

          const select = document.createElement('select');
          select.className = 'form-select w-75';
          select.id = portName.replace(' ', '');

          nodes.forEach(node => {
            const option = document.createElement('option');
            option.value = node;
            option.textContent = node;
            select.appendChild(option);
          });

          formGroup.appendChild(label);
          formGroup.appendChild(select);
          col.appendChild(formGroup);
          portsDiv.appendChild(col);
        }
      });
      form.appendChild(portsDiv);

      // Create ISO section
      const isoDiv = document.createElement('div');
      // isoDiv.className = 'mb-4';

      const radioGroup = document.createElement('div');
      radioGroup.className = 'btn-group mb-3';
      radioGroup.style = 'width: -webkit-fill-available;overflow-x: scroll;'

      radioGroup.setAttribute('role', 'group');
      ISOs = Object.keys(data.PulseParams);

      ISOs.forEach((isoType, index) => {
        if (isoType.startsWith('Port')) return;
        const radioBtn = document.createElement('input');
        radioBtn.type = 'radio';
        radioBtn.className = 'btn-check';
        radioBtn.name = 'isoOptions';
        radioBtn.id = isoType;
        radioBtn.autocomplete = 'off';
        if (index === 3) radioBtn.checked = true;

        const label = document.createElement('label');
        label.className = 'btn btn-outline-primary';
        label.htmlFor = isoType;
        label.textContent = isoType;

        radioBtn.addEventListener('change', () => updateIsoFields(isoType));

        radioGroup.appendChild(radioBtn);
        radioGroup.appendChild(label);
      });

      isoDiv.appendChild(radioGroup);

      // Create container for ISO fields
      const isoFieldsContainer = document.createElement('div');
      isoFieldsContainer.id = 'isoFieldsContainer';
      isoDiv.appendChild(isoFieldsContainer);

      form.appendChild(isoDiv);
      pulseParamDiv.appendChild(form);

      // Initially show ISO1 fields
      updateIsoFields('ISO1 12V');
    }


    function createRunParamForm(Section_id) {
      // Create form for run parameters
      const runParamDiv = document.getElementById(Section_id);

      //empty the runParamDiv
      runParamDiv.innerHTML = '';
      
      const runParamForm = document.createElement('form');
      runParamForm.className = 'mt-3';

      // Run Parameters section
      const runParamsContainer = document.createElement('div');
      runParamsContainer.className = 'mb-4';

      data.RunParams.forEach(param => {
        const row = document.createElement('div');
        row.className = 'row mb-3 align-items-end';

        // Name label
        const nameCol = document.createElement('div');
        nameCol.className = 'col-md-4';
        const nameLabel = document.createElement('label');
        nameLabel.className = 'form-label';
        nameLabel.textContent = param.name;
        nameCol.appendChild(nameLabel);

        // Value input
        const valueCol = document.createElement('div');
        valueCol.className = 'col-md-4';
        const valueInput = document.createElement('input');
        valueInput.type = 'number';
        valueInput.className = 'form-control';
        valueInput.value = param.value;
        valueInput.id = param.name.replace(/\s+/g, '');
        valueCol.appendChild(valueInput);

        // Units dropdown
        const unitsCol = document.createElement('div');
        unitsCol.className = 'col-md-4';
        const unitsSelect = document.createElement('select');
        unitsSelect.className = 'form-select';
        param.units.forEach(unit => {
          const option = document.createElement('option');
          option.value = unit;
          option.textContent = unit;
          unitsSelect.appendChild(option);
        });
        unitsCol.appendChild(unitsSelect);

        row.appendChild(nameCol);
        row.appendChild(valueCol);
        row.appendChild(unitsCol);
        runParamsContainer.appendChild(row);
      });

      // Measurements section
      const measurementsContainer = document.createElement('div');
      measurementsContainer.className = 'mt-4';
      const measurementsTitle = document.createElement('h6');
      measurementsTitle.textContent = 'Measurements';
      measurementsContainer.appendChild(measurementsTitle);

      const checkboxRow = document.createElement('div');
      checkboxRow.className = 'row mt-3';

      Object.entries(data.Measurements).forEach(([measurementName, isChecked]) => {
        const col = document.createElement('div');
        col.className = 'col-auto';

        const checkboxDiv = document.createElement('div');
        checkboxDiv.className = 'form-check';

        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.className = 'form-check-input';
        checkbox.id = measurementName;
        checkbox.checked = isChecked;
        //increase the size of the checkbox
        checkbox.style.transform = 'scale(1.5)';

        const label = document.createElement('label');
        label.className = 'form-check-label';
        label.htmlFor = measurementName;
        label.textContent = measurementName.charAt(0).toUpperCase() + measurementName.slice(1);

        checkboxDiv.appendChild(checkbox);
        checkboxDiv.appendChild(label);
        col.appendChild(checkboxDiv);
        checkboxRow.appendChild(col);
      });

      measurementsContainer.appendChild(checkboxRow);
      runParamForm.appendChild(runParamsContainer);
      runParamForm.appendChild(measurementsContainer);
      runParamDiv.appendChild(runParamForm);

    }


    function updateIsoFields(isoType) {
      const container = document.getElementById('isoFieldsContainer');
      container.innerHTML = '';
      const row = document.createElement('div');
      row.className = 'row';
      container.appendChild(row);

      data.PulseParams[isoType].forEach((field, index) => {
        const col = document.createElement('div');
        col.className = 'col-md-6';

        const formGroup = document.createElement('div');
        formGroup.className = 'form-group mb-3 d-flex align-items-center';

        const label = document.createElement('label');
        label.className = 'form-label me-2 mb-0';
        label.textContent = field.name;
        label.style.width = '5rem'; // Fixed width for label

        const input = document.createElement('input');
        // input.type = 'number';
        input.className = 'form-control';
        input.value = field.value;
        input.id = field.name.replace(/\s+/g, '');

        formGroup.appendChild(label);
        formGroup.appendChild(input);
        col.appendChild(formGroup);
        row.appendChild(col);
      });
    }


    function save() {
      //prevent form submission
      event.preventDefault();

      const pulseParams = {};
      const ports = document.getElementById('Port1').value;
      pulseParams['Port 1'] = ports;
      pulseParams['Port 2'] = document.getElementById('Port2').value;
      pulseParams['Port 3'] = document.getElementById('Port3').value;

      const isoType = document.querySelector('input[name="isoOptions"]:checked').id;
      const isoFields = {};
      data.PulseParams[isoType].forEach(field => {
        isoFields[field.name] = document.getElementById(field.name.replace(/\s+/g, '')).value;
      });


      const runParams = {};
      data.RunParams.forEach(param => {
        const value = document.getElementById(param.name.replace(/\s+/g, '')).value;
        const unit = document.getElementById(param.name.replace(/\s+/g, '')).parentElement.nextElementSibling.querySelector('select').value;
        runParams[param.name] = {
          "value": value,
          "unit": unit
        };
      });

      const measurements = {};
      Object.keys(data.Measurements).forEach(measurement => {
        measurements[measurement] = document.getElementById(measurement).checked;
      });


      const payload = {
        pulseParams,
        isoType,
        isoFields,
        runParams,
        measurements
      };
      return payload;
    }

  </script>





</body>

</html>