
{% load static %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/form.js' %}"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }

    .container {
      margin-top: 20px;
    }

    .card {
      border: none;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      background-color: #007bff;
      color: #fff;
      font-weight: bold;
      text-align: center;
    }

    .card-body {
      padding: 20px;
    }

    .btn-primary {
      background-color: #007bff;
      border: none;
    }

    .btn-primary:hover {
      background-color: #0056b3;
    }

    textarea,
    input[type="text"] {
      margin-bottom: 10px;
    }

    .suggestions {
      background-color: #fdf9f9;
      /* border: 1px solid #c8c4c4;  */
      max-height: 150px;
      overflow-y: auto;
      display: none;
      position: absolute;
      z-index: 10;
    }

    .suggestions div {
      padding: 8px;
      cursor: pointer;
    }

    .suggestions div:hover {
      background-color: #e9ecef;
    }

    #saveCancel {
      text-align: right;
      margin-top: 20px;
    }
  </style>
</head>

<body>


 

  <div class="container">
    
    <div class="card">
      <div class="card-header">
        Transient Immunity Standard
      </div>
      <div class="card-body">
        <div class="d-flex flex justify-content-between" style="width: 100%;">

        <div class="form-group" style="width: 80%;">
          <label for="standardInput">Enter Standard Name:</label>
          <input type="text" id="standardInput" class="form-control" placeholder="Enter standard name..."
            oninput="showSuggestions()"  style="margin-bottom: 0;"/>
          <div id="suggestions" class="suggestions w-50" style="border-radius: 0 0 5px 5px;"></div>
        </div>

        <button id="createModifyStandard" class="btn btn-primary" onclick="CreateStandard()" style="margin: 18 4 8 14; width: 15rem;">Create Standard</button>

        </div>

        <div class="form-group">
          <label for="standardDescription">Description (Optional):</label>
          <textarea id="standardDescription" class="form-control" rows="1" style="resize: none;"></textarea>
        </div>
      </div>
    </div>

    <div id="pulseSection" class="card mt-4" style="display: none;">
      <div class="card-header">
        Tests
      </div>
      <div class="card-body">
        <div class="flex d-flex mb-3" style="justify-content: space-between;">
          <div id="pulses" class="mb-3 d-flex flex align-items-center" ></div>
          <button id="addPulse" class="btn btn-primary" onclick="CreatePulse()" style="margin: 8 4 8 14; width: 10rem;">Create Pulse</button>
        </div>
        <div id="pulseDetails">

          <div class="flex d-flex justify-content-between">
            <input type="text" id="pulseName" class="w-75 form-control" style="display: none;">
          <button id="addParameter" class="btn btn-primary mb-3" style="display: none; width: 10rem;" onclick="CreateParam()">Add Parameters</button>
        </div>
        
        <textarea id="pulseDescription" class="form-control" style="margin-bottom: 10px; display: none;" placeholder="Enter pulse description..." rows="1"></textarea>
        <!-- <button id="addParameter" class="btn btn-primary" style="display: none;" onclick="CreateParam()">Add Parameter</button> -->



          <table class="table table-striped table-bordered table-hover" id="parametersTable" style="display: none;">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Description</th>
                <th>Value</th>
                <th>Units</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="createSection" class="card mt-4" style="display: none;">
      <div class="card-header">
        Create New Test
      </div>
      <div class="card-body">
        <textarea id="newDescription" class="form-control" placeholder="Enter description..."></textarea>
        <button class="btn btn-primary mt-3" onclick="addNewTest()">Create Test</button>
      </div>
    </div>

    <div id="saveCancel" class="mt-4 mb-4" style="display: none;">
      <button id="saveBtn" class="btn btn-success" style="width: 8rem;" onclick="save()">Save</button>
      <button id="cancelBtn" class="btn btn-secondary" style="width: 8rem; background-color: #D74C4C;" onclick="cancel()">Cancel</button>
    </div>
  </div>

  
  <script>
    // Your existing JavaScript code for managing the page
    let data = {};
    // AJAX call to Django backend
    $.ajax({
        url: '/get_test_standards_data/', // URL of the Django view
        type: 'GET', // HTTP method
         // Expected response format
        success: function(response) {
            // On success, populate the `data` variable
            // print()
            data = response;
            console.log(data); // Output the data to console for verification
        },
        error: function(xhr, status, error) {
            console.log('Error: ' + error);
        }
    });

    function showSuggestions() {
      const input = document.getElementById("standardInput").value;
      const suggestions = document.getElementById("suggestions");
      suggestions.innerHTML = "";

      if (input) {
        Object.keys(data).forEach((key) => {
          if (key.toLowerCase().includes(input.toLowerCase())) {
            const suggestion = document.createElement("div");
            suggestion.innerText = key;
            suggestion.style.border = "1px solid #6d6c6c";
            suggestion.style.borderTop = "none";
            suggestion.style.borderRadius = "0 0 5px 5px";
            suggestion.onclick = () => selectStandard(key);
            suggestions.appendChild(suggestion);
          }
        });
        suggestions.style.display = "block";
      } else {
        suggestions.style.display = "none";
      }
    }

    function selectStandard(standard) {
      const description = data[standard]?.description || "";
      document.getElementById("standardInput").value = standard;
      document.getElementById("standardDescription").value = description;
      document.getElementById("suggestions").style.display = "none";

      document.getElementById("saveCancel").style.display = "block";

      showTests(standard);
    }

    

    function showPulseDetails(standard, pulse) {
      const pulseName = document.getElementById("pulseName");
      const pulseDescription = document.getElementById("pulseDescription");
      const table = document.getElementById("parametersTable");
      const addParamButton = document.getElementById("addParameter");

      pulseDescription.style.display = "block";
      pulseName.style.display = "block";
      table.style.display = "table";
      addParamButton.style.display = "block";

      const parametersTable = document.getElementById("parametersTable").getElementsByTagName("tbody")[0];
      parametersTable.innerHTML = "";

      const pulseData = data[standard]?.tests[pulse];
      pulseName.value = pulse;
      pulseDescription.value = pulseData?.description || "No Description";

      //style
      pulseName.style.fontSize = "20px";
      pulseName.style.fontWeight = "500";

      pulseData?.parameters.forEach((param) => {
        const row = parametersTable.insertRow();
        row.insertCell(0).innerHTML = `<input type='text' class='form-control' value='${param.name}'>`;
        row.insertCell(1).innerHTML = `<input type='text' class='form-control' value='${param.description}'>`;
        row.insertCell(2).innerHTML = `<input type='text' class='form-control' value='${param.value}'>`;
        row.insertCell(3).innerHTML = `<input type='text' class='form-control' value='${param.units}'>`;
      });

    }

    function CreateStandard() {
      event.preventDefault();
      name = document.getElementById("standardInput").value;
      
      //if name is already present, alert the user
      if (data[name]) {
        alert(name + ": Standard already present. If you want to modify, you can do so in the tests section.");
        return;
      }

      const pulseDescription = document.getElementById("pulseDescription");
      pulseDescription.innerHTML = "";
      //show the pulses
      showTests(name);

      //show the save and cancel buttons
      document.getElementById("saveCancel").style.display = "block";
    }

    function showTests(standard) {
      const testSection = document.getElementById("pulseSection");
      testSection.style.display = "block";
      const pulses = document.getElementById("pulses");
      pulses.innerHTML = "";

      if (data[standard]?.tests) {
        const tests = data[standard].tests;

        Object.keys(tests).forEach((pulse) => {
          const radio = document.createElement("input");
          radio.type = "radio";
          radio.name = "pulse";
          radio.value = pulse;
          radio.onclick = () => showPulseDetails(standard, pulse);

          const label = document.createElement("label");
          label.innerText = pulse;

          //style
          radio.style.marginRight = "0.8rem";
          label.style.marginRight = "3rem";
          radio.style.transform = "scale(1.5)";
          radio.style.accentColor = "#007bff";

          pulses.appendChild(radio);
          pulses.appendChild(label);
        });
      }  
    }

    function CreatePulse() {
      event.preventDefault();
      //uncheck all the radio buttons
      var radios = document.getElementsByName("pulse");
      for (var i = 0; i < radios.length; i++) {
        radios[i].checked = false;
      }

      pulseName = document.getElementById("pulseName");
      pulseDescription = document.getElementById("pulseDescription");

      //clear the pulse name and description
      pulseName.value = "";
      pulseDescription.value = "";

      //display the pulse name and description
      pulseName.style.display = "block";
      pulseDescription.style.display = "block";

      //put some placeholder text and give focus to the pulse name
      pulseName.placeholder = "New Pulse Name";
      pulseDescription.placeholder = "New Pulse Description";
      pulseName.focus();

      //clear the table
      const parametersTable = document.getElementById("parametersTable").getElementsByTagName("tbody")[0];
      parametersTable.innerHTML = "";


      //add parameter button, which will create a form for adding the 4 fields of the table
      document.getElementById("addParameter").style.display = "block";
         

    }

    function CreateParam() {
      event.preventDefault();
      const table = document.getElementById("parametersTable");
      table.style.display = "table";

      //add a row in the table, with the modifiable fields

      //clear the tabel

      const row = parametersTable.insertRow();
      row.insertCell(0).innerHTML = "<input type='text' class='form-control' placeholder='Enter parameter name...'>";
      row.insertCell(1).innerHTML = "<input type='text' class='form-control' placeholder='Enter parameter description...'>";
      row.insertCell(2).innerHTML = "<input type='text' class='form-control' placeholder='Enter parameter value...'>";
      row.insertCell(3).innerHTML = "<input type='text' class='form-control' placeholder='Enter parameter units...'>";


      // console.log(parametersTable.rows.length);
    }


    function save() {
      event.preventDefault();
      //fetch the standard name from standardinput box
      standardName = document.getElementById("standardInput").value;

      if(!standardName){
        alert("Please enter a standard name");
        return;
      }

      //fetch the description from standardDescription box
      standardDescription = document.getElementById("standardDescription").value;

      //fetch the pulse name from pulseName box
      pulseName = document.getElementById("pulseName").value ? document.getElementById("pulseName").value : "New pulse";

      //fetch the pulse description from pulseDescription box
      pulseDescription = document.getElementById("pulseDescription").value ? document.getElementById("pulseDescription").value : "No Description";

      //fetch the parameters from the table
      parametersTable = document.getElementById("parametersTable");
      parameters = [];
      
      
      for (var i = 1; i < parametersTable.rows.length; i++) {        
        var parameter = {};

        parameter.name = parametersTable.rows[i].cells[0].getElementsByTagName("input")[0].value;
        parameter.description = parametersTable.rows[i].cells[1].getElementsByTagName("input")[0].value;
        parameter.value = parametersTable.rows[i].cells[2].getElementsByTagName("input")[0].value;
        parameter.units = parametersTable.rows[i].cells[3].getElementsByTagName("input")[0].value;
        
        parameters.push(parameter);
      }

      //save the data in the data object, if standard is already present just add new pulse, else create a new standard 
      if (data[standardName]) {
        data[standardName].tests[pulseName] = {
          description: pulseDescription,
          parameters: parameters
        };
      } else {
        data[standardName] = {
          description: standardDescription,
          tests: {
            [pulseName]: {
              description: pulseDescription,
              parameters: parameters
            }
          }
        };
      }

      
      var formData = new FormData();
      formData.append("data",JSON.stringify(data));
    

      $.ajax({
        url: '/set_test_standards_data/', // URL of the Django view
        type: 'POST', // HTTP method
        contentType: false,
        processData: false,
        data: formData,
        success: function(response) {
            console.log(" updated data"); // Output the data to console for verification
        },
        error: function(xhr, status, error) {
            console.log('Error: ' + error);
        }
    });
      
      //reload the page after populating the data
      location.reload();

    }

    
    function cancel() {
      event.preventDefault();
      //reload the page
      location.reload();
    }


  </script>
</body>

</html>
